.section-footer{
    margin: 2em;
    font-size: 12px;
    font-weight: 300;
    color: rgb(233, 233, 233);
}
.section-footer i{
    color: var(--color-primary);
}
@media (width< 880px) {
    .section-footer{
        text-align: center;
        margin-bottom: 70px;
    }
}